<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>商品一覧</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div th:include="/template/header :: menu"></div>
		
		<form action="./goods_list.html" method="get">
			<p>
				<label>商品コード：<input type="text" name="goods_code" size="8" value="" th:value="${goods_code}" />
				</label><input type="submit" value="検索" />
			</p>
		</form>
		<p>
			検索結果は<span th:text="${#numbers.formatInteger(#lists.size(items),1,'COMMA')}">1,000</span>件です。
		</p>
		<table border="1" th:unless="${#lists.isEmpty(items)}">
			<thead>
				<tr>
					<th>商品コード</th>
					<th>商品名</th>
					<th>価格</th>
					<th>発売日</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="item,iterStat : ${items}" th:class="${iterStat.odd}? 'odd'">
					<td th:text="${item.code}">99999999</td>
					<td th:text="${item.name}">サンプル商品名</td>
					<td th:text="${#strings.prepend(#numbers.formatInteger(item.price,1,'COMMA'),'¥')}">¥999,999,999</td>
					<td th:text="${#dates.format(item.startDate, 'yyyy/MM/dd')}">9999/99/99</td>
				</tr>
				<tr>
					<td>99999999</td>
					<td>サンプル商品名</td>
					<td>¥999,999,999</td>
					<td>9999/99/99</td>
				</tr>
				<tr>
					<td>99999999</td>
					<td>サンプル商品名</td>
					<td>¥999,999,999</td>
					<td>9999/99/99</td>
				</tr>
				<tr>
					<td>99999999</td>
					<td>サンプル商品名</td>
					<td>¥999,999,999</td>
					<td>9999/99/99</td>
				</tr>
				<tr>
					<td>99999999</td>
					<td>サンプル商品名</td>
					<td>¥999,999,999</td>
					<td>9999/99/99</td>
				</tr>
			</tbody>
		</table>
		<div th:include="/template/footer :: copy"></div>
	</body>
</html>
